doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Hamzah Dance Academy
        block style
    body
        nav#navbar
            ul
                li#home #[a(href="/") Home]
                li#about #[a(href="/#aboutSection") About Us]
                li#services #[a(href="/#servicesSection") Services]
                li#classes #[a(href="/#classesSection") Classes]
                li#contact #[a(href="/#contactSection") Contact Us]
            button #[a(href="/apply-now") Apply Now]
        block content
        block footer
    block script