extends base.pug

block style
    style
        include ../static/style.css

block content
    section#homeSection
        h1#h1 Welcome to Hamzah Dance Academy

    section#aboutSection
        h1#h2 About Us
        p#p1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta sed cupiditate sequi eveniet obcaecati ipsam veniam sit, amet, enim quis cumque dolor molestias tempore, adipisci ipsa atque qui.

    section#servicesSection
        h1#h3 Our Services
        p#p2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure nisi architecto ratione quasi veritatis fugit quam ipsa amet voluptatibus doloribus ab labore rem in placeat tempora quas, facilis totam.

    section#classesSection
        h1#h4 Classes Schedule
        p#p3 Mon - Fri (6pm to 9pm)

    section#contactSection
        h1#h5 Contact Us
        p#p4 Email: abc@xyz.com Call: (0123) 456789

block footer
    footer Copyright &copy; Hamzah Dance Academy Dot Com 

block script